/* -*- coding: utf-8 -*-
 * :Project:   metapensiero.extjs.desktop -- Action icons
 * :Created:   mer 05 dic 2012 12:42:49 CET
 * :Author:    Lele Gaifax <lele@metapensiero.it>
 * :License:   GNU General Public License version 3 or later
 * :Copyright: © 2012, 2016 Lele Gaifax
 */

.mp-add-action-icon {
    background-image: url(/desktop/images/action/add.png);
}

.mp-delete-action-icon {
    background-image: url(/desktop/images/action/delete.png);
}

.mp-save-action-icon {
    background-image: url(/desktop/images/action/disk.png);
}

.mp-restore-action-icon {
    background-image: url(/desktop/images/action/arrow_undo.png);
}

.mp-modify-action-icon {
    background-image: url(/desktop/images/action/edit.png);
}
