@CHARSET "UTF-8";

.mp-upload-status-value {
    float: right;
    min-width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin: 0 3px 0 2px;
    cursor: pointer;
    overflow: hidden;
}

/*
 * Action icons
 */
.mp-upload-icon-action-ok {
    background-image: url(/desktop/images/upload/tick.png);
}

.mp-upload-icon-action-upload {
    background-image: url(/desktop/images/upload/arrow_up.png);
}

.mp-upload-icon-action-abort {
    background-image: url(/desktop/images/upload/cancel.png);
}

.mp-upload-icon-action-remove {
    background-image: url(/desktop/images/upload/delete.png);
}

.mp-upload-icon-action-browse {
    background-image: url(/desktop/images/upload/folder.png);
}

/*
 * Upload status icons
 */
.mp-upload-icon-upload-ready {
 /*
   background-image: url(/desktop/images/upload/ready.png);
   */
}

.mp-upload-icon-upload-uploading {
    background-image: url(/desktop/images/upload/loading.gif);
}

.mp-upload-icon-upload-uploaded {
    background-image: url(/desktop/images/upload/accept.png);
}

.mp-upload-icon-upload-uploaderror {
    background-image: url(/desktop/images/upload/exclamation.png);
}
